
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parisienne&display=swap');
$azul-oscuro: #0A2844;
$verde-azulado: #33738F;
$beige-claro: #D7D7C8;
$marron-claro: #B6A58A;
$marron-oscuro: #705747;
$azul-claro: #72A0B8;
$verde-oliva: #89A67D;
$gris-claro: #E6E6E6;
$naranja-claro: #F5B87F;
$rojo-oscuro: #663333;

//color 
$primary: #7F5C2F;
$secondary: #f5b87f;   
$success: #89a67d;
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success
);
h1, h2 {
    font-family: "Parisienne", cursive;
}
h3, h4, h5, h6{
    font-family: "Nunito", sans-serif; 
    text-transform: uppercase;
    color: $primary;

}
p{
    font-family: "Nunito", sans-serif; 
    text-transform: uppercase;
    color: $primary;
    // font-weight: lighter;
}
  
a{
    font-family: "Nunito", sans-serif; 
}

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.min.css"
